<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avocado.domain.report.mapper.ChildSpendingReportMapper">

    <insert id="upsert">
        INSERT INTO child_spending_reports (child_id, report_type_id, report_year, report_month)
        VALUES (#{childId}, #{reportTypeId}, #{reportYear}, #{reportMonth})
            ON DUPLICATE KEY UPDATE report_type_id = VALUES(report_type_id)
    </insert>

</mapper>