<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avocado.domain.transaction.mapper.AccountTxMapper">

    <!--  부모 계좌에서 아이 선불지갑으로 송금한 계좌 거래 이력을 기록  -->
    <insert id="insertWalletChargeHistory">
        INSERT INTO account_histories (
            account_id,
            trace_id,
            transaction_type,
            amount,
            status,
            failure_code
        )
        VALUES (
            #{accountId},
            #{traceId},
            'WITHDRAWAL',
            #{amount},
            'SUCCESS',
            NULL
        )
    </insert>

    <!-- 아이 선불지갑에서 서비스 등록 계좌로 들어온 입금 거래를 기록한다. -->
    <insert id="insertWalletDepositHistory">
        INSERT INTO account_histories (
            account_id,
            trace_id,
            transaction_type,
            amount,
            status
        ) VALUES (
            #{accountId},
            #{traceId},
            'DEPOSIT',
            #{amount},
            'SUCCESS'
        )
    </insert>

</mapper>