<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avocado.domain.transaction.mapper.WalletTxMapper">

    <!--  지갑의 전체 거래 수를 조회한다.  -->
    <select id="countByWalletId" resultType="long">
        SELECT COUNT(*)
        FROM wallet_histories
        WHERE wallet_id = #{walletId}
    </select>

    <!--  지갑 거래내역을 최신순으로 조회한다.  -->
    <select id="findAllByWalletId" resultType="com.avocado.domain.transaction.dto.response.WalletTxItemResponseDto">
        SELECT
            wh.id AS transactionId,
            wh.trace_id AS traceId,
            wh.transaction_type AS transactionType,
            wh.amount AS amount,
            CASE
                WHEN wh.merchant_id IS NOT NULL
                    THEN m.name
                ELSE wh.counterparty_name
            END AS counterpartyName,
            wh.status AS status,
            wh.created_at AS createdAt
        FROM wallet_histories wh
            LEFT JOIN merchants m
                ON m.id = wh.merchant_id
        WHERE wh.wallet_id = #{walletId}
        ORDER BY
            wh.created_at DESC,
            wh.id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>


</mapper>