<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avocado.domain.account.mapper.AccountMapper">
    <!-- 은행 중복 계좌 여부 체크  -->
    <select id="existsByBankCodeAndAccountNumber" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM accounts
        WHERE bank_code = #{bankCode}
        AND account_number = #{accountNumber}
        )
    </select>

    <insert id="insertAccount" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO accounts (
            user_id,
            bank_code,
            account_number
        )
        VALUES (
            #{userId},
            #{bankCode},
            #{accountNumber}
        )
    </insert>

    <!-- 부모에게 연결된 ACTIVE 계좌 조회 -->
    <select id="findActiveByUserId" resultType="com.avocado.domain.account.domain.AccountVo">
        SELECT
            a.id,
            a.user_id        AS userId,
            a.bank_code      AS bankCode,
            a.account_number AS accountNumber,
            a.status
        FROM accounts a
        WHERE a.user_id = #{userId}
            AND a.status = 'ACTIVE'
        LIMIT 1
    </select>
</mapper>